<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Auto_servis.Properties.Settings.VozilaConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Vozila;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>